<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Template Test</title>
</head>

<body>
    <h1>{{model.getText()}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam iste rerum ab labore excepturi quibusdam praesentium odit accusamus consequatur et!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, voluptatum esse. Hic porro totam quidem ratione quasi placeat fuga quos.</p>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, quaerat.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, asperiores.</li>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, doloremque?</li>
    </ul>
</body>

</html>